{% extends "layout.html" %}
{% block sidebar %}
    {% for review in reviews %}
        <li><a href="#{{ review.id }}">{{ review.id }}</a></li>
    {% endfor %}
{% endblock sidebar %}

{% block content %}
    <div class="hero-unit">
    <h2>Location: {{ bath.location }}, Floor: {{ bath.floor }}, Gender: {{ bath.gender }} </h2>
    <hr />
    {% for review in reviews %}
            <h3>Rating: {{ review.rating }}/5 </h3>
            <p>Review: {{ review.content }} </p>
    {% endfor %}
</div>
{% endblock content %}
