<!DOCTYPE html>
<html>
<head>
    <title>Bathroom Connoisseur</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
            <div id="sidebar" class="span2">
                {% block sidebar %}{% endblock %}
            </div>
            <div id="content" class="span10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
